# Ignore transient deployment diagnostic files created during testing
/deployment*.json
/deployment-*.json
/deployment-outputs.json
/deployment-operations.json
/deployment-fallback.json
/*-show.json
/*-whatif.json
/bicep-build/*.diagnostics.json

# Ignore local compiled templates and other build outputs
/bicep-build/*.json

# Ignore top-level generated templates and parameter files
/main.json
/main-params.json

# Ignore build log
/bicep-build-verbose.log
/.artifacts/
