parameters:
- name: subscriptionId
  type: string
  default: ''
- name: enableAutoRemediation
  type: string
  values:
    - 'true'
    - 'false'
  default: 'false'
  displayName: 'Enable Auto-Remediation (DeployIfNotExists)'
- name: deploymentLocation
  type: string
  values:
    - westeurope
    - northeurope
    - swedencentral
    - germanywestcentral
  default: westeurope
  displayName: 'Subscription Deployment Location'
pool:
  vmImage: 'windows-latest'

stages:
- stage: Deploy
  jobs:
  - job: BuildAndDeployMultiRegion
    displayName: 'Deploy multi-region backup (subscription scope)'
    steps:
    - task: AzureCLI@2
      displayName: 'Build Bicep (syntax check)'
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          try { az bicep version | Out-Null } catch { az bicep install }
          az bicep build --file main.bicep --outdir bicep-build
    - task: AzureCLI@2
      displayName: 'Subscription deployment'
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az account set --subscription "${{ parameters.subscriptionId }}"
          az deployment sub create --location "${{ parameters.deploymentLocation }}" --template-file main.bicep

  - job: DeployAutoEnablePolicy
    displayName: 'Deploy auto-enable policy'
    condition: eq('${{ parameters.enableAutoRemediation }}','true')
    dependsOn: BuildAndDeployMultiRegion
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Deploy-AutoEnablePolicySubscription.ps1'
        ScriptArguments: >
          -SubscriptionId "${{ parameters.subscriptionId }}" \
          -Location "${{ parameters.deploymentLocation }}" \
          -VmTagName "backup" \
          -VmTagValue "true" \
          -BackupPolicyName "backup-policy-westeurope" \
          -VaultName "rsv-westeurope" \
          -VaultResourceGroup "rsv-rg-westeurope" \
          -CreateVault $false
        azurePowerShellVersion: 'LatestVersion'
